@model IEnumerable<MobileStoreV3.Models.MobilePhoneModel>

@{
    ViewBag.Title = "Home Page";
}
<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/mdb.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/fontawesome/all.js")
    @Styles.Render("~/Content/fontawesome/css/all.css")
    @Styles.Render("~/Content/css/mdb")
    @Styles.Render("~/Content/bootstrap")

</head>
<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
</style>
<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <div class="carousel-indicators">
        <button type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"></button>
        <button type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button"
                data-mdb-target="#carouselExampleCaptions"
                data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <!--TODO : Make the carousel dynamic-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://photos5.appleinsider.com/gallery/47772-93414-iPhone-14-colors-xl.jpg" class="d-block w-100" alt="The Mobile Phone Store" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Welcome to the Mobile Phone Store.</strong>
                </h1>
                <p>
                    <strong>You are only a few clicks away from your next best companion!</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        The Leading Online Mobile Store.
                    </strong>
                </p>

                <a href="#stock" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.apple.com/v/iphone-14-pro/d/images/meta/iphone-14-pro_overview__3dn6st99cpea_og.png?202303220451" class="d-block w-100" alt="Apple" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Apple</strong>
                </h1>

                <p>
                    <strong>The all new iPhone 15 Pro Max is here!</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        The best phone ever
                    </strong>
                </p>

                <a href="#Apple" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.samsung.com/global/galaxy/main/images/kv-galaxy-s23_s.jpg" class="d-block w-100" alt="Exotic Fruits" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-lg-5">
                    <strong>SAMSUNG</strong>
                </h1>

                <h3>
                    <strong>Introducing an even bigger Galaxy to explore!</strong>
                </h3>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        Everyone needs an android for when their iPhone is on vacation, we've' got you covered!
                    </strong>
                </p>

                <a href="#Samsung" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Main layout-->
<main>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2 gradient-custom-2">
            <!-- Container wrapper -->
            <div class="container-fluid">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">Brand:</a>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!-- Link -->
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Apple">Apple</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Samsung">Samsung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Oppo">Oppo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Xiaomi">Xiaomi</a>
                        </li>

                    </ul>

                    <!-- Search -->
                    <!--
                    <form class="w-auto py-1" style="max-width: 12rem">
                        <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
                    </form>-->

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Products -->
        <section id="stock">
            <div class="text-center">
                <div class="row" id="Apple">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card">
                                <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                     data-mdb-ripple-color="light">
                                    <img src="@item.ImageUrl"
                                         class="w-100" />
                                    <a href="#!">
                                        <div class="mask">
                                            <div class="d-flex justify-content-start align-items-end h-100">
                                                <h5><span class="badge bg-dark ms-2">Apple Co.</span></h5>
                                            </div>
                                        </div>
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <h5 class="card-title mb-2">@Html.DisplayFor(modelItem => item.Name)</h5>
                                    </a>
                                    <a href="" class="text-reset ">
                                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                                    </a>
                                    <h6 class="mb-3 price">R @Html.DisplayFor(modelItem => item.Price)</h6>
                                </div>
                                <div class="card-body">
                                    <a href="" class="text-reset">
                                        <h5 class="card-title mb-2">
                                            @Html.ActionLink("Add to cart", "AddItemToCart", new { id = item.Id }) 
                                            <i class="fas fa-shopping-cart ms-2"></i>
                                        </h5>

                                    </a>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="row" id="Samsung">

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWXMf5Hf7cJH7MN5rqR_dpI-RZcBpITSYEpQ&usqp=CAU"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100">
                                            <h5><span class="badge bg-dark ms-2">Samsung Co.</span></h5>
                                        </div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">Samsung Galaxy Fold</h5>
                                </a>
                                <a href="" class="text-reset ">
                                    <p>SmartPhone</p>
                                </a>
                                <h6 class="mb-3 price">R 9000,00</h6>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">
                                        @Html.ActionLink("Add to cart", "AddItemToCart")
                                        <i class="fas fa-shopping-cart ms-2"></i>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="Oppo">

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img src="https://m.media-amazon.com/images/I/81JLm5d17JL._SL1500_.jpg"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100">
                                            <h5><span class="badge bg-dark ms-2">Samsung Co.</span></h5>
                                        </div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">Oppo A77</h5>
                                </a>
                                <a href="" class="text-reset ">
                                    <p>Smartphone</p>
                                </a>
                                <h6 class="mb-3 price">R 8750,00</h6>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">
                                        @Html.ActionLink("Add to cart", "AddItemToCart")

                                        <i class="fas fa-shopping-cart ms-2"></i>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="Xiaomi">

                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">
                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                 data-mdb-ripple-color="light">
                                <img src="https://m.media-amazon.com/images/I/61mHMiZyW2L._AC_SX679_.jpg"
                                     class="w-100" />
                                <a href="#!">
                                    <div class="mask">
                                        <div class="d-flex justify-content-start align-items-end h-100">
                                            <h5><span class="badge bg-dark ms-2">Xiaomi Co.</span></h5>
                                        </div>
                                    </div>
                                    <div class="hover-overlay">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">Xiaomi Redmi Note</h5>
                                </a>
                                <a href="" class="text-reset ">
                                    <p>Smartphone</p>
                                </a>
                                <h6 class="mb-3 price">R 5000,00</h6>
                            </div>
                            <div class="card-body">
                                <a href="" class="text-reset">
                                    <h5 class="card-title mb-2">
                                        @Html.ActionLink("Add to cart", "AddItemToCart")
                                        <i class="fas fa-shopping-cart ms-2"></i>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
        </section>

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Pagination -->
    </div>
</main>
<!--Main layout-->

<footer class="text-center text-white mt-4 gradient-custom-2">

    <!--Call to action-->
    <div class="pt-4 pb-2">
        @Html.ActionLink("Login", "Login", "Account", new { returnUrl = "https://localhost:44372/Account/Login" }, new { @class = "btn btn - outline - white footer - cta mx - 2", @role = "button" })
        @Html.ActionLink("Create Account", "Register", "Account", new { returnUrl = "https://localhost:44372/Account/Register" }, new { @class = "btn btn - outline - white footer - cta mx - 2", @role = "button" })
    </div>
    <!--/.Call to action-->

    <hr class="text-dark">

    <div class="container">
        <!-- Section: Social media -->
        <section class="mb-3">

            <!-- Facebook -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-facebook-f"></i>
            </a>

            <!-- Twitter -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-twitter"></i>
            </a>

            <!-- Google -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-google"></i>
            </a>

            <!-- Instagram -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-instagram"></i>
            </a>

            <!-- YouTube -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-youtube"></i>
            </a>
            <!-- Github -->
            <a class="btn-link btn-floating btn-lg text-white"
               href="#!"
               role="button"
               data-mdb-ripple-color="dark">
                <i class="fab fa-github"></i>
            </a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); text-color: #E0E0E0">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MobilePhoneStore.com</a>
    </div>
    <!-- Copyright -->
</footer>
