@model IEnumerable<MobileStoreV3.Models.MobilePhoneModel>

@{
    ViewBag.Title = "Home Page";
}
<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/mdb.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/fontawesome/all.js")
    @Styles.Render("~/Content/fontawesome/css/all.css")
    @Styles.Render("~/Content/css/mdb")
    @Styles.Render("~/Content/bootstrap")

</head>
<style>
    .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    .parallax
    {
        background-attachment:scroll;
        margin-top:auto;
    }
</style>
<!-- carousel -->
@if(User.Identity.IsAuthenticated)
{ 
 
}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade parallax" data-mdb-ride="carousel">
    <!--TODO : Make the carousel dynamic-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.mobilesyrup.com/wp-content/uploads/2020/12/all-the-phones-wm.jpg" class="d-block w-100" alt="The Mobile Phone Store" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-sm-block mb-5">
                <h1 class="mb-4">
                    <strong>Welcome to the Mobile Phone Store.</strong>
                </h1>
                <p>
                    <strong>You are only a few clicks away from your next best companion!</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        The Leading Online Mobile Store.
                    </strong>
                </p>

                <a href="#stock" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.apple.com/v/iphone-14-pro/d/images/meta/iphone-14-pro_overview__3dn6st99cpea_og.png?202303220451" class="d-block w-100" alt="Apple" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-4">
                    <strong>Apple</strong>
                </h1>

                <p>
                    <strong>The all new iPhone 15 Pro Max is here!</strong>
                </p>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        The best phone ever
                    </strong>
                </p>

                <a href="#Apple" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://i0.wp.com/nasilemaktech.com/wp-content/uploads/2022/02/Samsung-Galaxy-S22-Ultra-review-00044.jpg" class="d-block w-100" alt="Samsung" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-lg-5">
                    <strong>SAMSUNG</strong>
                </h1>

                <h3>
                    <strong>Introducing an even bigger Galaxy to explore!</strong>
                </h3>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        Everyone needs an android for when their iPhone is on vacation, we've' got you covered!
                    </strong>
                </p>

                <a href="#Samsung" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://images.frandroid.com/wp-content/uploads/2022/02/oppo-find-x5-pro-9-scaled.jpg" class="d-block w-100" alt="Oppo" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-lg-5">
                    <strong>OPPO</strong>
                </h1>

                <h3>
                    <strong>If you want to spice up your life, look no further than OPPO!</strong>
                </h3>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        Just OPPO. Simple!
                    </strong>
                </p>

                <a href="#Oppo" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://cdn.4gnews.pt/imagens/xiaomi-13-primeiros-detalhes-do-smartphone-aparecem-online-og.jpg" class="d-block w-100" alt="Xiaomi" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4)"></div>
            <div class="carousel-caption d-none d-md-block mb-5">
                <h1 class="mb-lg-5">
                    <strong>XIAOMI</strong>
                </h1>

                <h4>
                    <strong>If you want to tread on the innovative side of the equator, Xiaomi has you covered! </strong>
                </h4>

                <p class="mb-4 d-none d-md-block">
                    <strong>
                        Relax, and let Xiaomi be the new you!
                    </strong>
                </p>

                <a href="#Oppo" class="nav-link">
                    Start Shopping.
                    <i class="fas fa-shopping-cart ms-2"></i>
                </a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--Main layout-->
<main>
    <div class="container">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2 gradient-custom-2">
            <!-- Container wrapper -->
            <div class="container-fluid">

                <!-- Navbar brand -->
                <a class="navbar-brand shadow-sm" href="#">Brand:</a>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!-- Link -->
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Apple">Apple</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Samsung">Samsung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Oppo">Oppo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#Xiaomi">Xiaomi</a>
                        </li>

                    </ul>

                    <!-- Search -->
                    <!--
                <form class="w-auto py-1" style="max-width: 12rem">
                    <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
                </form>-->

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Products -->
        <section id="stock">
            <div class="text-center">
                @for (int x = 0; x < 5; x++)
                            {
                                string el = "";
                                switch (x)
                                {
                                    case 0:
                                        el = "Apple";
                                        break;
                                    case 1:
                                        el = "Samsung";
                                        break;
                                    case 2:
                                        el = "Oppo";
                                        break;
                                    case 3:
                                        el = "Xiaomi";
                                        break;
                                    case 4:
                            el = "Nokia";
                            break;

                                }
                    <div class="row" id="@el" style="margin-top:30px">
                        <div class="card" style="padding:5px">
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                var data = Model.ElementAt(i);
                                <div class="col-lg-4 col-md-6 mb-4" style="padding:5px">

                                    @if (data.Name.Trim().ToLower() == el.ToLower())
                        {
                                        <div class="card">
                                            <a href="#!">
                                                <div class="mask">
                                                    <div class="d-flex justify-content-start align-items-end h-100">
                                                        <h5><span class="badge bg-dark ms-2">@data.Name</span></h5>
                                                    </div>
                                                </div>
                                                <div class="hover-overlay">
                                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                                </div>
                                            </a>
                                            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                                                 data-mdb-ripple-color="light">
                                                <img src="@data.ImageUrl"
                                                     alt="@data.Name - @data.Description"
                                                     class="w-100" />
                                            </div>
                                            <div class="card-body">
                                                <a href="" class="text-reset ">
                                                    <p>@Html.DisplayFor(modelItem => data.Description)</p>
                                                </a>
                                                <h6 class="mb-3 price">R @Html.DisplayFor(modelItem => data.Price)</h6>
                                            </div>
                                            <div class="card-body">
                                                <a href="" class="text-reset">
                                                    <h5 class="card-title mb-2">
                                                        @Html.ActionLink("Add to cart", "AddItemToCart", new { id = data.Id })
                                                        <i class="fas fa-shopping-cart ms-2"></i>
                                                    </h5>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        </div>
                }
            </div>
        </section>

                    <!-- Pagination -->
                    <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Pagination -->
                </div>
            </main>
<!--Main layout-->

